@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
body{ background: black;
}
h1{ font-family: 'Noto Sans Mono', monospace;
    color: greenyellow;
    font-size:large
}
p{font-family: 'Noto Sans Mono', monospace;
    color: lightgreen;
    font-size: small;
}